@font-face {
    font-family: 'Russo One';
    src: url('fonts/RussoOne.eot');
    src: local('Russo One'), url('../fonts/RussoOne.woff') format('woff'), url('../fonts/RussoOne.ttf') format('truetype'), url('../fonts/RussoOne.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Segoe UI Light, sans-serif;
    min-height: 480px;
    min-width: 800px;
    overflow: auto !important;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#header {
    position: fixed;
    background: white;
    width: 100%;
    height: 35px;
    z-index: 100;
}

.menu {
    position: absolute;
    left: 50%;
    margin-left: -395px;
    width: 850px;
    color: #313131;
    font-size: 13px;
    z-index: 1000;
    text-transform: uppercase;
    height: 100%;
}


    .menu li {
        display: inline-block;
        float: left;
        line-height: 35px;
    }

        .menu li a {
            position: relative;
            display: block;
            padding: 0 15px;
            cursor: pointer;
            z-index: 1;
            -webkit-transition: color .25s ease-out;
            -moz-transition: color .25s ease-out;
            -o-transition: color .25s ease-out;
            transition: color .25s ease-out;
        }

a:link {
    color: #898989;
    text-decoration: none;
}

a:visited {
    color: #898989;
    text-decoration: none;
}

a.active {
    color: #434242;
    text-decoration: none;
}

a:hover {
    color: #434242;
    text-decoration: none;
}

.menu a:not(.logo)::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 20px;
    margin-top: -10px;
    background: #C5C6C6;
    z-index: 1;
}

a.contacts::before,
a.price::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 20px;
    margin-top: -10px;
    background: #d2d6d5;
    z-index: 1;
}

.menu .logo {
    background: url('../images/figure.png') no-repeat 0 0;
    background-size: 100%;
    width: 115px;
    height: 105px;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}

.logo .loupe {
    font-size: 24px;
    line-height: 23px;
    text-decoration: none;
}

.content {
    overflow-x: hidden;
    overflow-y: hidden;
}

    .content .container {
        -webkit-transition: 500ms;
        transition: 500ms;
        -webkit-transform: translate3d(0%, 0px, 0px);
        margin-top: 35px;
    }

    .content .block_ins {
        position: absolute;
        width: 70%;
        height: 315px;
        left: calc(15% - 32px);
        bottom: 220px;
    }

    .block_ins.disp_none {
        display: none;
    }

    .units-nav-container {
        height: 70%;
        width: 15px;
        position: absolute;
        top: 15%;
        left: 25px;
    }

    .unit_nav {
        background: white;
        margin-bottom: 8px;
        cursor: pointer;
    }

    .unit_nav.active {
        background: #CA2728;
    }

    .content .title {
        background: url('../images/title_background.png') no-repeat 0 0;
        background-size: 100%;
        position: absolute;
        width: 350px;
        height: 82px;
        padding: 15px 0 0 50px;
        box-sizing: border-box;
        color: #fff;
        font-size: 17px;
    }

    .content .page-content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 43px;
        left: 32px;
        background-color: #fff;
    }

        .content .page-content .articles {
            width: -moz-calc(100% - 220px) !important;
            width: -webkit-calc(100% - 220px) !important;
            width: -o-calc(100% - 220px) !important;
            width: calc(100% - 220px) !important;
            height: 100%;
            float: left;
            box-sizing: border-box;
            font-family: Segoe UI Light, sans-serif;
            font-size: 15px;
            color: #4E565A;
            position: relative;
            line-height: 20px;
            overflow-x: auto;
        }

        .content .page-content .contacts_container{
            width: -moz-calc(100% - 220px);
            width: -webkit-calc(100% - 220px);
            width: -o-calc(100% - 220px);
            width: calc(100% - 220px);
            height: 295px;
            float: left;
            box-sizing: border-box;
            font-family: Segoe UI Light, sans-serif;
            font-size: 15px;
            color: #4E565A;
            position: relative;
            line-height: 20px;
            overflow-x: auto;
            margin: 10px 0;
            padding: 10px 30px;
        }

        .content .page-content.relative-width .articles {
            width: 70%;
        }

        .content .page-content.review .articles {
            width: 100% !important;
        }

.articles .article_header {
    position: relative;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: -14px;
}

    .articles .article_header h1 {
        font-size: 18px;
    }

.article_container {
    margin-bottom: 23px;
    position: relative;
    margin: 35px 40px 0;
}

    .article_container .article {
        font-size: 17px;
        font-weight: 100;
    }


.articles .article_header h1::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 2px;
    height: 26px;
    margin-top: -13px;
    z-index: 1;
}

.content .block_ins .brio-tasks {
    width: 220px;
    height: 100%;
    float: right;
    position: relative;
}

    .content .block_ins .brio-tasks.sm {
        width: 190px;
    }

.content .block_ins .relative-width .right-block {
    height: 100%;
    background-color: #FFF;
    float: left;
    position: relative;
    width: 30%;
}

.content .block_ins .relative-width.review .right-block {
    width: -moz-calc(70% - 190px);
    width: -webkit-calc(70% - 190px);
    width: -o-calc(70% - 190px);
    width: calc(70% - 190px);
}

.content .block_ins .bottom-corner {
    position: absolute;
    bottom: 0;
    border-width: 0 220px 85px 0;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.content .block_ins .brio-tasks.sm .bottom-corner {
    border-width: 0 190px 85px 0;
}

.content .prevButton,
.content .nextButton {
    position: absolute;
}

.content .prevButton {
    left: 100px;
}

.content .nextButton {
    right: 100px;
    transform: rotateY(180deg);
}

.content .prevButton,
.content .nextButton {
    background: url('../images/arrow.png') no-repeat 0 0;
    top: 50%;
    width: 23px;
    height: 60px;
    z-index: 10;
    margin-top: -50px;
    cursor: pointer;
}

.content .slider {
    position: relative;
    float: left;
}

#footer {
    height: 80px;
    background-color: #434242;
}

.bottom-logo {
    position: absolute;
    left: 50%;
    color: rgb(131, 131, 131);
    margin-top: 25px;
    font-family: 'Russo One', sans-serif;
    text-align: center;
}

.bottom-logo .company {
    font-family: Arial, sans-serif;
}

.slide_switch_container {
    position: absolute;
    bottom: 90px;
    left: 50%;
    margin-left: -47.5px;
}

.bottom_arrows_container {
    position: absolute;
    bottom: 115px;
    left: 50%;
    margin-left: -18px;
}

.bottom-arrows {
    background: url('../images/triple_arrow.png') no-repeat 0 0;
    background-size: 100%;
    width: 40px;
    height: 36px;
}

.slide_switch {
    background: url('../images/inactive_slide.png') no-repeat 0 0;
    width: 29px;
    height: 34px;
    display: inline-block;
    cursor: pointer;
}

    .slide_switch.active {
        background: url('../images/active_slide.png') no-repeat 0 0;
    }

.big-logo {
    top: 50%;
    margin-top: -160px;
    position: absolute;
    background: url('../images/big_logo.png') no-repeat 0 0;
    background-size: 100%;
    width: 240px;
    height: 290px;
}

.adress {
    height: 60px;
}

    .adress::after {
        content: '';
        display: block;
        top: 50%;
        left: 0;
        width: 3px;
        height: 30px;
        margin-top: -145px;
        background: #CA2728;
        margin-left: 18px;
        z-index: 1;
        position: absolute;
    }

.login-button {
    width: 140px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    z-index: 1;
    right: 50%;
    margin-right: -moz-calc(-35% - 32px);
    margin-right: -webkit-calc(-35% - 32px);
    margin-right: -o-calc(-35% - 32px);
    margin-right: calc(-35% - 32px);
}

button a {
    width: 100%;
    height: 100%;
}

.adress1 {
    height: 100%;
    width: 56%;
    float: left;
}

.telephone {
    height: 100%;
    width: 44%;
    float: right;
}

.brio-tasks .pure-form input[type="text"], .brio-tasks .pure-form textarea {
    border-radius: 0;
    margin-bottom: 8px;
    width: 100%;
}

input.error, textarea.error {
    border-width: 2px !important;
    border-color: #CA2728 !important;
}

.pure-button {
    display: block;
    border-radius: 0;
    color: #fff;
}

    .pure-button.feedback {
        position: absolute;
        left: 50%;
        margin-left: -55px;
    }

.button-error {
    background: #CA2728;
}



.price_buttons .pure-button {
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
}


.feedback_title {
    margin: 20px 0 10px;
    color: #fff;
    padding-left: 22px;
}

    .feedback_title::before {
        content: '';
        display: block;
        top: 17px;
        left: 0;
        width: 2px;
        height: 25px;
        background: #FFFFFF;
        margin-left: 5px;
        z-index: 1;
        position: absolute;
    }

div.price_container {
    overflow-x: auto;
    width: 70% !important;
    height: 100%;
    font-family: Segoe UI Light, sans-serif;
    font-size: 15px;
    color: #4E565A;
    position: relative;
    line-height: 20px;
    float: left;
}

.content .block_ins .relative-width.review .price_container {
    width: 30% !important;
}

.price_row {
    margin-right: 40px;
    position: relative;
    background-color: #eeeeee;
    border-bottom: 1px solid #DDDDDD;
    cursor: pointer;
    min-height: 62px;
}

    .price_row.empty {
        cursor: inherit;
    }

    .price_row.active_price {
        background-color: #DDDDDD;
    }

.price_title {
    padding: 11px 40px;
    font-size: 17px;
}

.price_date {
    font-size: 14px;
}

.price_row::before {
    content: '';
    display: block;
    top: 50%;
    left: 15px;
    width: 2px;
    height: 25px;
    margin-top: -13px;
    background: #DDDDDD;
    margin-left: 5px;
    z-index: 1;
    position: absolute;
}

.price_row.active_price::before {
    background: #CA2728;
}

.price_row .arrow_corner {
    display: none;
    left: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    border-width: 31px 0 31px 20px;
    border-style: solid;
    border-color: transparent transparent transparent #DDDDDD;
}

.price_row.active_price .arrow_corner_bckg {
    background: url('../images/left_arrow.png') no-repeat 0 0;
    background-size: 100%;
    left: 100%;
    z-index: 2;
    position: absolute;
    bottom: 7px;
    width: 17px;
    height: 48px;
    margin-left: -7px;
}

.price_buttons {
    width: 82%;
    height: 100%;
    margin-left: 9%;
}
show_buttons {
    width: 82%;
    height: 100%;
    margin-left: 9%;
    padding-top: 15px;
}


.price_buttons_head {
    position: relative;
    margin: 30px 0 20px;
    padding-left: 30px;
    font-size: 16px;
}

    .price_buttons_head::before {
        content: '';
        display: block;
        top: 50%;
        left: 4px;
        width: 2px;
        height: 25px;
        margin-top: -13px;
        margin-left: 5px;
        z-index: 1;
        position: absolute;
    }

.right-block .articles {
    width: 100%;
}

.review_header {
    color: #434242;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

.info_container {
    position: relative;
    padding: 40px 40px 10px;
    color: #fff;
}

.author_position {
    padding-bottom: 10px;
}

    .author_position:before {
        content: '';
        display: block;
        top: 32px;
        left: 4px;
        width: 2px;
        height: 25px;
        background: #FFFFFF;
        margin-left: 25px;
        z-index: 1;
        position: absolute;
    }

.author_info {
    height: 100%;
}

.delete_button {
    position: absolute;
    top: 0;
    right: 0;
}

.add_button {
    position: absolute;
    top: 8px;
    left: 40px;
    z-index: 1;
}

.admin_buttons a {
    color: rgba(216, 150, 107, 0.47);
}

    .admin_buttons a:hover {
        color: rgba(216, 150, 107, 1);
    }

.field-validation-error {
    color: #CA2728;
}

.author_photo {
    margin-top: 18px;
    width: 115px;
    margin-left: 5px;
}

    .author_photo img {
        width: 100%;
    }

.pure-button a {
    color: #fff;
    text-decoration: none;
}

.price_title {
    position: relative;
}

    .price_title .admin_buttons {
        top: 7px;
        position: absolute;
        right: 15px;
    }

.add_button_bot {
    position: absolute;
    bottom: 20px;
    left: 50%;
}

    .add_button_bot.price {
        margin-left: -72px;
    }

    .add_button_bot.doc {
        margin-left: -83px;
    }

    .add_button_bot.prod_doc {
        margin-left: -105px;
        bottom: 10px;
    }


.empty_list {
    text-align: center;
    margin-left: -45px;
    margin-top: 30px;
}

.jspVerticalBar {
    width: 20px;
}

.article_container li{
    list-style: initial;
}


/*.page-content div {
    border: 1px solid blue;
}*/

.padding_container {
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
    padding: 25px;
    box-sizing: border-box;
}

.line {
    background: url('../images/line.png') no-repeat 0 0;
    width: 2px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 0;
}

.marker_descriptions {
    position: absolute;
    right: 0;
    bottom: 50px;
}

.marker {
    position: relative;
    width: 55px;
    height: 100%;
    float: right;
}

.m {
    position: relative;
    width: 25px;
    height: 34px;
    right: -15px;
    top: 50%;
    margin-top: -17px;
}
    .marker .red {
        background: url('../images/marker2.png') no-repeat 0 0;
    }

    .marker .blue {
        background: url('../images/marker.png') no-repeat 0 0;
    }

    .marker .green {
        background: url('../images/marker3.png') no-repeat 0 0;
    }

.marker_cont {
    background-color: rgb(255, 255, 255);
    height: 50px;
    margin-bottom: 10px;
}

.mark-desc {
    line-height: 48px;
    margin: 0 15px;
}

.desc {
    float: right;
    position: relative;
    height: 100%;
}

.contact-container {
    padding: 15px 30px;
}

.partner_logo{
    width: 22%;
    height: 78%;
    float: left;
    margin: 0 1% 1%;
    cursor: pointer;
}

.partner_logo.rosjeldor{
    background: url('../images/rosjeldor.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.rosjeldor:hover {
    background: url('../images/rosjeldor_c.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.panel{
    background: url('../images/panel.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.panel:hover {
    background: url('../images/panel_c.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.kungur{
    background: url('../images/kungur.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.kungur:hover {
    background: url('../images/kungur_c.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.malan{
    background: url('../images/malan.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.malan:hover {
    background: url('../images/malan_c.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.dolina{
    background: url('../images/dolina.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.dolina:hover{
    background: url('../images/dolina_c.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.elvis{
    background: url('../images/elvis.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.elvis:hover{
    background: url('../images/elvis_c.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.vashbit{
    background: url('../images/vashbit.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.vashbit:hover{
    background: url('../images/vashbit_c.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.windows{
    background: url('../images/1.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.windows:hover {
    background: url('../images/1hover.png'), url('../images/1.png');
    background-repeat: no-repeat;
    background-position:0 0;
    background-size: contain;
}

.partner_logo.facades{
    background: url('../images/2.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.facades:hover {
    background: url('../images/2hover.png'), url('../images/2.png');
    background-repeat: no-repeat;
    background-position:0 0;
    background-size: contain;
}

 .partner_logo.balconies{
    background: url('../images/3.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.balconies:hover {
    background: url('../images/3hover.png'), url('../images/3.png');
    background-repeat: no-repeat;
    background-position:0 0;
    background-size: contain;
}

.partner_logo.windows_system{
    background: url('../images/4.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.windows_system:hover {
    background: url('../images/4hover.png'), url('../images/4.png');
    background-repeat: no-repeat;
    background-position:0 0;
    background-size: contain;
}

.partner_logo.doors{
    background: url('../images/5.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.doors:hover {
    background: url('../images/5hover.png'), url('../images/5.png');
    background-repeat: no-repeat;
    background-position:0 0;
    background-size: contain;
}
.partner_logo.winter_gardens{
    background: url('../images/6.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.winter_gardens:hover {
    background: url('../images/6hover.png'), url('../images/6.png');
    background-repeat: no-repeat;
    background-position:0 0;
    background-size: contain;
}

.partner_logo.pvh{
    background: url('../images/7.png') no-repeat 0 0;
    background-size: contain;
}

.partner_logo.pvh:hover {
    background: url('../images/7hover.png'), url('../images/7.png');
    background-repeat: no-repeat;
    background-position:0 0;
    background-size: contain;
}


.logo_cont {
    width: 100%;
    height: 50%;
    margin: auto;
    position: relative;
}

.logo_cont.line2{
    position: relative;
    width: 75%;
    top: -75px;
}

.logo_inner_cont {
    position: absolute;
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .block_ins.partner {
        width: 600px;
        height: 400px;
        margin-left: -300px;
        top: 25%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
    .block_ins.partner {
        width: 700px;
        height: 455px;
        margin-left: -335px;
        top: 22%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1000px)  {
    .block_ins.partner {
        width: 810px;
        height: 540px;
        margin-left: -390px;
        top: 15%;
    }
}

@media screen and (min-width: 1200px)  {
    .block_ins.partner {
        width: 1000px;
        height: 575px;
        margin-left: -464px;
        top: 15%;
    }
}

.logo_cont.line2 .partner_logo{
    width: 29%;
    margin: 0 1.3% 2%;
}

.content .block_ins.partner {
        position: absolute;
        bottom: 220px;
        left: 50%;
        top: 23%;
        display: block;
    }

.page_logo {
    position: absolute;
    top: 13%;
    width: 160px;
    left: 50%;
    margin-left: -80px;
    height: 186px;
}

@media screen and (max-height: 750px) {
    .page_logo_container {
        display: none;
    }
}

@media screen and (min-height: 751px) {
    .page_logo_container {
        display: inherit;
    }
}

@media screen and (min-height: 1000px) {
    .page_logo {
        width: 205px;
        height: 237px;
        margin-left: -102.5px;
    }
}