@{
    ViewBag.Title = "ГЛАВНАЯ";
    Layout = "~/Views/Layouts/LayoutDefault.cshtml";
}

<div class="prevButton"></div>
<div class="nextButton"></div>
<div class="container run1">
    <div data-id="0" class="slider"></div>
    <div data-id="1" class="slider"></div>
    <div data-id="2" class="slider"></div>
</div>

<div class="big-logo">
</div>
<div class="slide_switch_container">
    <div data-id="0" class="slide_switch active"></div>
    <div data-id="1" class="slide_switch"></div>
    <div data-id="2" class="slide_switch"></div>
</div>
